{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Search" %}{% endblock %}

{% block page_header %}
<hz-page-header header="{% trans 'Search' %}">
  <p translate>
    Find your cloud resources by selecting specific facets or by specifying
    full text search queries.
    <a href=""
       ng-controller="searchSyntaxController as syntaxCtrl"
       ng-click="syntaxCtrl.show()">
      <span class="fa fa-question-circle"></span>
    </a>
  </p>
</hz-page-header>
{% endblock page_header %}

{% block main %}
<ng-include src="'{{ STATIC_URL }}dashboard/project/search/table/search-table.html'"></ng-include>
{% endblock %}
