<div class="row">
  <dl class="dl-horizontal">
    <div ng-repeat="(field, value) in item">
      <div ng-if="['_type'].indexOf(field) === -1">
        <dt>
          <span tooltip="{$ field $}" tooltip-placement="top"
                tooltip-popup-delay="500" tooltip-trigger="mouseenter">
          {$ hit._type | slResourceLabeler: field $}
          </span>
        </dt>
        <dd>
          <sl-search-highlighter hit="hit"
                                 field="field"
                                 default-value="value | noValue">
          </sl-search-highlighter>
        </dd>
      </div>

    </div>
  </dl>
</div>
