<hz-page-header header="{$ 'Search' | translate $}">
  <p translate>
    Find your cloud resources by selecting specific facets or by specifying
    full text search queries.
    <sl-search-syntax></sl-search-syntax>
  </p>
</hz-page-header>
<div>
  <hz-magic-search-context ng-controller="searchlight-ui.table.searchTableController as table"
                           client-full-text-search="false"
                           search-settings-callback="table.searchSettings.open"
                           filter-facets="table.searchFacets">
    <div class="row">
      <hz-magic-search-bar class="col-md-9"></hz-magic-search-bar>
      <div class="col-md-3">
        <actions class="pull-right" allowed="table.globalActions" type="row">
        </actions>
      </div>
    </div>
    <table
            hz-table ng-cloak
            st-magic-search
            st-table="table.hits"
            st-safe-src="table.hitsSrc"
            class="table table-striped table-hover table-rsp table-detail table-searchlight-search-results">

      <thead>
      <tr>
        <th colspan="100" class="search-header">
        </th>
        <!-- th colspan="1" class="table_caption">
          <a href="" ng-click="table.refresh()"
             tooltip="{$ 'Refresh results' | translate $}"
             tooltip-placement="top" tooltip-trigger="mouseenter" class="btn btn-default">
            <span class="fa fa-refresh"></span>
          </a>
        <th -->
      </tr>

      <tr>
        <!--
          Please note, search result sorting should not be done client side.
          Searchlight will provide the proper default sorting based on search
          result scoring.
        -->
        <th class="expander"></th>


        <th class="rsp-p1" translate>Type</th>
        <th ng-if="table.searchSettings.settings.general.all_projects"
            class="rsp-p1"
            translate>
          Project
        </th>
        <th class="rsp-p1" translate>Name</th>
        <th class="rsp-p2" translate>Status</th>
        <th class="rsp-p2" translate>Visibility</th>
        <th class="rsp-p2" translate>Updated</th>
        <th class="rsp-p2" translate>Field Matches</th>
        <!-- th class="rsp-p3" translate>Description</th -->
        <th class="actions_column" translate>Actions</th>
      </tr>
      </thead>

      <tbody>

      <tr ng-if='table.queryResponse.error'>
        <td colspan="8" translate>
          {$ table.queryResponse.statusCode | slQueryStatus $}
        </td>
      </tr>

      <tr ng-if='!table.queryError'
          class="summary-row"
          ng-repeat-start="hit in table.hits track by table.getSearchlightKey(hit)">

        <td class="expander">
          <i class="fa fa-chevron-right"
             hz-expand-detail
             duration="200">
          </i>
        </td>

        <!-- TODO Truncate not working because not in fixed container -->
        <!-- TODO ng-cloak not working -->
        <!-- TODO consider adding spinner when search is happening... -->
        <td class="rsp-p1 truncate">{$ hit._type | slResourceLabeler $}</td>
        <td ng-if="table.searchSettings.settings.general.all_projects"
            class="rsp-p1">
        <span tooltip="{$ hit._source.project_id $}"
              tooltip-placement="top"
              tooltip-popup-delay="500"
              tooltip-trigger="mouseenter">
          {$ hit._source.project_id | slKeystoneProjectName | noValue$}
        </span>
        </td>

        <td ng-cloak class="rsp-p1">
          <a ng-href="{$ hit | slResourceUrl $}">
            <sl-search-highlighter hit="hit"
                                   field="'name'"
                                   default-value="hit._source.name || hit._source.id | noValue">
            </sl-search-highlighter>
          </a>
        </td>

        <td class="rsp-p2">{$ hit._source.status | slCommonStatus | noValue $}
        </td>

        <td class="rsp-p2">
        <span tooltip="{$ 'Visibility is based on derived data. If Owned by Me, please inspect the resource to determine sharing status.' | translate $}"
              tooltip-placement="top"
              tooltip-popup-delay="500"
              tooltip-trigger="mouseenter">
          {$ hit._type | slCommonVisibility: hit._source:table.userSession.project_id | noValue $}
        </span>
        </td>

        <td class="rsp-p2">{$ hit._source.updated_at | date:'short' | noValue
          $}
        </td>
        <td class="rsp-p2">
          <ul class="list-unstyled"
              ng-repeat="(field, value) in hit.highlight">
            <li ng-if="!field.endsWith('.raw')">
              {$ hit._type | slResourceLabeler: field $}
            </li>
          </ul>
        </td>
        <!-- td class="rsp-p3 truncate">
          <sl-search-highlighter hit="hit"
                                 field="'description'"
                                 default-value="hit._source.description | noValue">
          </sl-search-highlighter>
        </td -->

        <td class="actions_column">
          <actions
            ng-hide="hit.dirty"
            allowed="table.registry.getResourceType(hit._type).itemActions"
            type="row"
            item="hit._source"
            result-handler="table.actionResultHandler">
          </actions>
          <span
            ng-show="hit.dirty"
            class="fa fa-spinner fa-spin fa-lg">
          </span>
        </td>

      </tr>

      <tr ng-repeat-end class="detail-row">
        <!--
          Detail-row:
          Contains detailed information on this item.
          Can be toggled using the chevron button.
          Ensure colspan is greater or equal to number of column-headers.
        -->
        <td class="detail" colspan="100">
          <sl-drawer
             hit="hit"
             item="hit._source"
             template-url="table.getSummaryTemplateUrl(hit._type)">
          </sl-drawer>
        </td>
      </tr>

      </tbody>

      <tfoot hz-table-footer items="table.hits"></tfoot>

    </table>
  </hz-magic-search-context>
</div>
