      <div class="row">
        <dl class="dl-horizontal">
          <div ng-repeat="(field, value) in item">
            <div ng-if="['_type'].indexOf(field) === -1"> <!-- &&table.isNested(value)"-->
              <dt>
                <span tooltip="{$ field $}" tooltip-placement="top"
                    tooltip-popup-delay="500" tooltip-trigger="mouseenter">
                {$ hit._type | resourceLabeler: field $}
                </span>
              </dt>
              <dd>
                <hz-search-highlighter hit="hit"
                                       field="field"
                                       default-value="value | noValue">
                </hz-search-highlighter>
              </dd>
            </div>

          </div>
        </dl>

        <!--div ng-repeat="(field, value) in ::hit._source">
          <div ng-if="table.isNested(value)"
               class="col-md-12 detail">
            <h3> {$ hit._type | resourceLabeler: field $}</h3>
            <hr>
            <hz-array-field-table array="value">
            </hz-array-field-table>
          </div>
        </div-->
      </div>

