hz-magic-search-context {

  .detail-expanded .row {
    background: none;
    padding-left: 2em;
  }

  .searchlight-table-preamble {
    display: flex;
    .hz-magic-search-bar {
      flex-grow: 1;
      flex-shrink: 1;
      padding-right: $padding-small-vertical;
      .magic-search {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
    .searchlight-play-pause {
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 10%;
      padding-right: $padding-large-vertical;
    }
    .searchlight-table-actions {
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 100%;
    }
  }
}

// TODO (tyr) - not sure best way to fix row height
// this prevents search table rows from changing size when actions are present or not and
// from shrinking when in-progress icon shown
table.table-searchlight-search-results tr.summary-row {
  height: 50px;
}

